@{
    ViewData["Title"] = "View Appointments";
}

@model List<Group>

<h1>View Appointment</h1>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Name of Group</th>
            <th>Size of Group</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Count() != 0)
        {
            @foreach (var b in Model)
            {
                <tr>
                    <td>@b.Date</td>
                    <td>@b.GroupName</td>
                    <td>@b.GroupSize</td>
                    <td>@b.Email</td>
                    <td>@b.Phone</td>
                    <td>@b.Time</td>
                    <td><a asp-controller="Home" asp-action="Edit" asp-route-appointmentid="@b.AppointmentId">Edit</a></td>
                    <td><a asp-controller="Home" asp-action="Delete" asp-route-appointmentid="@b.AppointmentId">Delete</a></td>
                </tr>
            }
        }
    </tbody>
</table>

